<mat-card>
  <mat-card-header>
    <mat-card-title>Libros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Listado de libros">
        <table class="table table-responsive striped">
          <thead>
            <tr>
              <th *ngFor="let head of listHead">
                {{head}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listBody; let i = index" ngrepe>
              <td>
                {{item.isbm}}
              </td>
              <td>
                {{item.title}}
              </td>
              <td>
                {{item.author}}
              </td>
              <td>
                {{item.description}}
              </td>
              <td>
                {{item.created | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['/libro',item.id]">
                    <mat-icon color="primary">mode_edit</mat-icon>
                    Editar
                  </button>
                  <button mat-menu-item (click)="eliminar(i)">
                    <mat-icon style="color:red">delete</mat-icon>
                    Eliminar
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Crear libros">
        <form #f="ngForm" class="row" (ngSubmit)="guardar()">
          <mat-form-field class="col s12 m3" appearance="outline">
            <mat-label>Código (ISBM)</mat-label>
            <input name="codigo" required [(ngModel)]="form.isbm" matInput type="text">
          </mat-form-field>
          <mat-form-field class="col s12 m3" appearance="outline">
            <mat-label>Titulo</mat-label>
            <input name="titulo" required [(ngModel)]="form.title" matInput type="text">
          </mat-form-field>
          <mat-form-field class="col s12 m3" appearance="outline">
            <mat-label>Autor</mat-label>
            <input name="autor" required [(ngModel)]="form.author" matInput type="text">
          </mat-form-field>
          <mat-form-field class="col s12 m3" appearance="outline">
            <mat-label>Fecha de publicación</mat-label>
            <input readonly name="fecha" required [(ngModel)]="form.created" matInput [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col s12 m12" appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea name="descripcion" required [(ngModel)]="form.description" matInput></textarea>
          </mat-form-field>
          <div class="col s12">
            <button [disabled]="f.invalid" mat-button color="primary">Guardar</button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
